#sidebar
  %ul
    %li= link_to "Get Greasy Thug Chrome Extension", "https://chrome.google.com/extensions/detail/moamkpjfkbmbnekdmlpkceldofdenaie"
    %li= link_to "Extension Source", "http://github.com/STRd6/GreasyThug"
    %li= link_to "GreasyThug.net Source", "http://github.com/STRd6/greasythug.net"
